.navbar {
    padding-top: 20px;
}
.navContent {
    display: flex;
    justify-content: space-between;

}
.navList li{
    display: inline;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.navList li:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid red;
}